@tailwind base;
@tailwind components;
@tailwind utilities;


body,html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}

body{
  background: #000000;
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}



/* utility classess  */
.smm-text{
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 3%;
  transition: color 0.4s ease;
}

.normal-text{
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
}

.sec-normal-text{
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
.mdbig-text{
  font-size: 40px;
  font-weight: 600;
  line-height: 59px;
}

.gr-border{
/* border: 1px solid; */
position: relative;
border-radius: 20px; 
}

.gr-border::before{
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  border-radius: 20px; 
  padding: 1px; 
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.228) 0%, rgba(255, 255, 255, 0.152) 29.9%, rgba(255, 255, 255, 0.124) 57.9%, rgba(255, 255, 255, 0) 100%);
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}
.gr-borderexpended{
/* border: 1px solid; */
position: relative;
top: -25px; 
z-index: -1; 
border-radius: 20px; 
}

.gr-borderexpended::before{
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  border-radius: 20px;
  padding: 1px; 
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.228) 0%, rgba(255, 255, 255, 0.152) 29.9%, rgba(255, 255, 255, 0.124) 57.9%, rgba(255, 255, 255, 0) 100%);
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

.sec2card{
/* border: 1px solid; */
position: relative;
border-radius: 20px; 
}

.sec2card::before{
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  border-radius: 20px; 
  padding: 2px; 
  background: linear-gradient(115.9deg, rgba(5, 55, 75, 0.3) 1.29%, rgba(149, 220, 248, 0.3) 46.96%, rgba(2, 58, 81, 0.3) 94.49%);
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}
.more-btn{
position: relative;
/* border-radius: 50px;  */
margin-top: 31px;
}

.more-btn::before{
  content: "";
  position: absolute;
  inset: 0;
  border: none;
  height: 100%;
  border-radius: 50px; 
  padding: 1.3px; 
  background:  linear-gradient(115.9deg, #05374B 1.29%, #95DCF8 46.96%, #023A51 94.49%);
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
        
}



/* utility classess  */


.hero-img{
  background-image: url('/hero.png');
  width: 1367.93px;
  z-index: 1;
  height: 100%;
  background-size: cover;
  position: absolute;
  opacity: 0.9;
  top: -70px;
  right: 0;
}


@media screen and (max-width:1200px) {
  .hero-img{
    
    width: 130%;
    background-position: top center;
    right: -160px;
    
  }

}
@media screen and (max-width:640px) {
  .smm-text,
  .normal-text{
    font-size: 12px;
    font-weight: normal;
    line-height: 17px;
    letter-spacing: 0%;
    transition: color 0.4s ease;
  }


  .mdbig-text{
    font-size: 30px;
    font-weight: 600;
    line-height: 44px;
  }
  
}
@media screen and (max-width:360px) {
  .sec-normal-text{
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
  }
  
}


.gradient-text{
  background: linear-gradient(93.75deg, #84ADFF 38.23%, #2169F5 95.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.exhbtn{
  background: linear-gradient(180deg, #518CFF 0%, #2169F5 100%);
}

.logos-bg{
  background: linear-gradient(179.46deg, #0C2768 0.46%, rgba(18, 57, 152, 0) 13.65%, rgba(18, 57, 152, 0) 79.03%, #184DCE 99.52%);

  opacity: 20%;
  position: relaative;
  height: 139px;
  z-index: 1;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.logos-bg::before{
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  padding: 2px 0px; 
  background: linear-gradient(115.9deg, #05374B 1.29%, #95DCF8 46.96%, #023A51 94.49%);

  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}




  
  .redy-bg::before{
    content: "";
    position: absolute;
    inset: 0;
    height: 100%;
    opacity: 20%;
    width: 100%;
    z-index: 100;
    padding: 2px 0; 
    background: linear-gradient(115.9deg, #05374B 1.29%, #95DCF8 46.96%, #023A51 94.49%);
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }
  .redy-bg{
    opacity: 20%;
  background: linear-gradient(179.46deg, #0C2768 0.46%, rgba(18, 57, 152, 0) 13.65%, rgba(18, 57, 152, 0) 79.03%, #184DCE 99.52%);
  
}

    .redy-btn::before{
      content: "";
      position: absolute;
      inset: 0;
      height: 100%;
      border-radius: 50px;
      width: 100%;
      padding: 1px; 
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.228) 0%, rgba(255, 255, 255, 0.152) 29.9%, rgba(255, 255, 255, 0.124) 57.9%, rgba(255, 255, 255, 0) 100%);
      -webkit-mask: 
         linear-gradient(#fff 0 0) content-box, 
         linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
              mask-composite: exclude; 
    }
    
    




    /* ---- exch step btn  */
    
    .exstep-ac{
      background: linear-gradient(180deg, #518CFF 0%, #2169F5 100%);
    }
    .exstep{
      background: #213240;

    }
    .exstep-nx{
      background-image: url('/images/dotsotb.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
   .xline{
    position: absolute;
    top: 35px;
    left: 30px;
    background-image: url('/images/xline.png');
    background-size: contain;
    width: 94%;
    height: 3px;
   }
   
